[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychromecast = "*"
apscheduler = "*"
google-api-python-client = "*"
httpx = "*"
pydantic-settings = "*"
fastapi = "*"
yt-dlp = {extras = ["default"], version = "*"}
aiosqlite = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
jinja2 = "*"
python-multipart = "*"
itsdangerous = "*"
isodate = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.13"
